*,
*:before,
*:after {
   box-sizing: border-box;
}

body {
    background-color: #C6E5D9;
}

form {
  border: 1px solid #D68189;
  border-radius: 5px;
  font-family: sans-serif;
  overflow: hidden;
  width: 240px;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
  padding-top: 5px;
}

label {
    display: block;
    padding: 5px;
}

input {
    border-radius: 1px;
}

input.submit{
    background: #F4EAD5;
}